body{
    width:100%;
    height: 100%;
font:3em;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: normal;
    align-items: center;
}
input{
    width:50vw;
}
p{
    background-color: lightskyblue;
}
h3,h4{
    font-weight:500 ;
}

h4{
    
    background-color: lightyellow;
    width:fit-content;
}

.appear{
    display:grid;
    grid-template-rows: 6fr 3fr 2fr;
}
.footer{
    margin-top: 30vh;
}
